/* police a utiliser 
font-family: 'Indie Flower', cursive;
font-family: 'Baloo Da', cursive;
font-family: 'Niconne', cursive;
font-family: 'Marck Script', cursive;
*/

.titreAteliers
{
font-family: 'Marck Script', cursive;
}

.descriptionAteliers
{
font-family: 'Cormorant Upright', serif;
}


